nav {
  background-color: #eee;
  padding: 0 1rem;
  display: grid;
  place-items: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}
nav > ul {
  grid-auto-flow: column;
}
nav ul li {
  padding: 0;
}

nav > ul > li {
  margin: 0 0.5rem;
}

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav > ul > li a,
nav > ul > li .dropdown__title {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: blue;
  font-size: 1.125rem;
}

nav > ul > li > a,
nav > ul > li .dropdown__title {
  padding: 1rem 0.5rem;
}

/* style up the .dropdown__menu and its links to help identify it more clearly as we work through positioning and animation: */
.dropdown {
  position: relative;
}
.dropdown .dropdown__menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
  padding: 0.5em 0;
  min-width: 15ch;
}
.dropdown .dropdown__menu a {
  color: #444;
  display: block;
  padding: 0.5em;
}

/* by adding position: absolute to the .dropdown__menu it takes it out of normal document flow */
.dropdown__menu {
  position: absolute;
  top: calc(100% - 0.25rem);
  /* centering trick */
  /* Use the left from absolute position to shift the left side */
  left: 50%;
  /* Use translateX to shift the menu 50% of it's width back to the left */
  transform: translateX(-50%);
}
